{# On étend le fichier base ici, car dans base on a déclare des blocks #}
{% extends 'base.twig' %} 

{% block content %}
    <div class="text-center m-2">
        <h1>Home Task</h1>
    </div>
    <form method ="POST" action="http://localhost/formation_php/todolist_php/public/task/search" class="d-flex" role="search">
        <div class="add-post m-2">
            <a class="btn btn-success" href="http://localhost/formation_php/todolist_php/public/task/new">Ajouter une Tache</a> <!--  la valeur du href correspond au nom du controller action renvoie au nom de la fonction -->
        </div>
        <input name="keyword" class="form-control me-2" type="search" placeholder="Search task" aria-label="keyword">
        <button class="btn btn-outline-success m-2" type="submit">Search Task</button>
    </form>

    <table class="table table-striped  m-2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Durée</th>
                <th scope="col">Qui</th>
                <th scope="col">Etat</th>
                <th scope="col">Date création</th>
                <th scope="col">Date modification</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <th scope="row">{{ task.id }}</th>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.duration }}</td>
                <td>{{ task.who }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.create_at }}</td>
                <td>{{ task.update_at }}</td>
            
                <td style="text-align:center">
                    <a type="button" class="btn btn-warning m-1" href="http://localhost/formation_php/todolist_php/public/task/{{task.id}}">
                        Voir
                    </a>
                    <a type="button" class="btn btn-primary m-1" href="http://localhost/formation_php/todolist_php/public/task/update/{{task.id}}">
                        Modifier
                    </a>
                        <a type="button" class="btn btn-info m-1" href="http://localhost/formation_php/todolist_php/public/task/update/status/{{task.id}}">
                        status
                    </a>
                    <a type="button" class="btn btn-danger m-1" href="javascript:deleteTask({{task.id}})">
                        Supprimer
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function deleteTask(id) {
            console.log(id);
            // On affiche une fenetre de controle pour confirmer la suppression
            const question = window.confirm("Voulez-vous vraiment supprimer cette tâche" + id + "?");
            // On fait l'action de supprimer seulement si la fenetre de controle est confirmer
            if (question === true) {
                window.location.href = "http://localhost/formation_php/todolist_php/public/task/delete/" + id;
            }
        }
    </script>
{% endblock %}



